<header class="header text-center">
    <div class="force-overflow">
        <h1 class="blog-name pt-lg-4 mb-0"><a href="/index.html">Vungsovanreach</a></h1>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="navbar-collapse flex-column collapse">
                <div class="profile-section pt-3 pt-lg-0">
                    <div class="profile-userpic">
                        <img class="profile-image mb-3 rounded-circle mx-auto" src="/assets/images/profile.jpg"
                            alt="image">
                        <div class="edit"><span>PANDA CODER</span></div>
                    </div>
                    <div class="bio mb-3">Developer & Researcher<br>@ MyComputer</div>
                    <ul class="social-list list-inline py-2 mx-auto">
                        <li class="list-inline-item"><a href="https://gitlab.com/kongvungsovanreach"><i
                                    class="fab fa-gitlab"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://github.com/kongvungsovanreach"><i
                                    class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/kongvungsovanreach"><i
                                    class="fab fa-linkedin-in fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://t.me/kvsovanreach"><i
                                    class="fab fa-telegram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/sovanreach.jp"><i
                                    class="fab fa-facebook"></i></a>
                        </li>
                    </ul>
                    <hr>
                </div>

                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html#skill-section"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/programming.html"><i class="fas fa-code fa-fw mr-2"></i>Programming</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/devops.html"><i class="fas fa-cogs fa-fw mr-2"></i>DevOps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/blockchain.html"><i class="fas fa-cubes fa-fw mr-2"></i>Blockchain</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/bigdata.html"><i class="fas fa-database fa-fw mr-2"></i>Big Data</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-cogs fa-fw mr-2"></i>More
                            Pages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Project Page</a>
                            <a class="dropdown-item" href="#">Blog Home 1</a>
                            <a class="dropdown-item" href="#">Blog Home 2</a>
                            <a class="dropdown-item" href="#">Blog Post</a>
                        </div>
                    </li> -->
                </ul>
                <div class="my-2">
                    <a class="btn btn-primary" href="#" target="_blank"><i class="fas fa-paper-plane mr-2"></i>Hire
                        Me</a>
                </div>
                <div class="dark-mode-toggle text-center w-100">
                    <hr class="mb-4">
                    <h4 class="toggle-name mb-3 "><i class="fas fa-adjust mr-1"></i>Dark Mode</h4>

                    <input class="toggle" id="darkmode" type="checkbox">
                    <label class="toggle-btn mx-auto mb-0" for="darkmode"></label>
                </div>
            </div>
        </nav>
    </div>
</header>