nav.kong-container ul {
    padding-left: 0;
    margin-bottom: 0;
}

.tool-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 100%;
    padding: 1em;
    margin: 1em;
    background-color: red;
}

.tool-card-icon img {
    width: 50%;
    height: auto;
    margin: auto;
}